* {
    margin: 0;
    padding: 0;
}
.App{
    margin-bottom: 40px;
}
/* event page styling */
.flex-box{
    display: flex;
    flex-wrap: wrap;
}

.event-block{
    flex: 75%;
}

.winner-block{
    flex: 25%;
}

.event-heading{
    color: white;
    font-size: large;
    font-weight: 400;
    padding: 10px 10px;
    background-color: #6C63FF;
}

.past-event-heading{
    margin-top: 10px;
}

.event-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    text-align: center;
}

.card-container{
    flex: 1;
    padding: 10px 10px;
}

.show-more-event{
    text-align: center;
}

.show-more-event button{
    border: none;
    background-color: #6C63FF;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.card-inner-container{
    border: 1px black solid;
    width: 300px
}

.card-event-heading{
    font-size: 15px;
    font-weight: 600;
    background-color: #6C63FF;
    color: white;
    padding: 8px;
}

.card-event-participate{
    padding: 10px;
}

.card-event-participate input{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    border: 1px solid black;
    padding: 3px 7px;
}

.card-event-button{
    text-decoration: none;
    border: none;
    background: none;
    margin: 4px 4px;
    padding: 2px 4px;
    border: #6C63FF solid 3px;
    border-radius: 10px;
}

.winner-Card{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.winner-card-heading{
    font-size: 18px;
    font-weight: 400;
}

.winner-heading{
    padding: 10px 10px;
    /* margin-top: 50px; */
    font-size: 20px;
    font-weight: bold;
    color: #6C63FF;
    text-align: center;
}

.winner-container{
    /* border-left: 1px solid black; */
    height: 100%;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
}
  
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .event-block, .winner-block{
        flex: 100%;
    }
}